/* Your CSS code goes here */
body {
  background-color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}
img { 
  width: 60%; 
  box-shadow: 12px 12px #AAAAAA;
  border-radius: 12px;
}

@media (width < 500px) {
  main {
    display: block;
  }
}
main { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

h1 { 
  text-align: center;
}

h2 { 
  font-variant: small-caps;
}
section { 
  background-color: white;
  text-align: center;
  flex-basis: 30%;
  padding: 12px;
}

@media (width < 500px) {
  section {
    margin-bottom: 2em;
  }
}